.accordion-menu {
    // width: 100%;
    max-width: 400px;
    // margin: 60px auto 20px;
    // background: #fff;
    border-radius: 20px;
}

.accordion-menu > li:not(:last-child) {
    margin-bottom: 10px;
}

.accordion-menu li.open .dropdownlink {
    background: linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);

    color: #fff;
    &::after {
        transform: rotate(180deg);
    }
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 10px 40px 10px 20px;
    font-style: italic;
    font-size: 2.2rem;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    font-weight: 700;
    span {
        position: relative;
        z-index: 1;
    }
    &::after {
        //стрелка
        content: "";
        position: absolute;
        right: 5px;
        top: 0;
        display: block;
        width: 20px;
        height: 100%;
        // background-image: url("../img/arrow-down.svg");
        background-image: url("../img/arrow-down.svg");

        background-size: 100% 100%;
        transition: 0.5s;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100%;
        // background: linear-gradient(135deg, rgb(129, 243, 80) 0%, rgb(3, 254, 219) 100%);
        background: linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
        border-radius: 10px;
        width: 0;
        transition: all 0.6s ease;
    }
    &:hover {
        // color: #fff;
        &::before {
            width: 100%;
        }
    }
}

.submenuItems {
    display: none;
    border-radius: 10px;
    overflow: hidden;
    max-height: 150px;
    overflow-y: auto;
    li:not(:last-child) {
        border-bottom: 1px solid #b6b6b6;
    }
}

.submenuItems li {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.8rem;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
    background-color: #fff;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 25px;
        height: 100%;
        width: 12px;
        background-image: url(../img/dot.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

li.open .submenuItems {
    // display: flex !important;
}
@media (max-width: 1199px) {
    .accordion-menu {
        max-width: none;
    }
}

@media (max-width: 480px) {
    .dropdownlink span {
        font-size: 1.8rem;
    }
    .submenuItems li {
        font-size: 1.6rem;
    }
}

@media (max-width: 380px) {
    .dropdownlink {
        padding: 10px 30px 10px 10px;
    }
}
