.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    /* margin: 0 auto; */
    margin-right: 20px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 3px;
    // background-color: #000;
    background-color: #33cc00;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 4px;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 3px;
}

/* HAMBURGER 2 */

.checkbox2:checked + label > .hamburger2 > .bar1 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2 {
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3 {
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4 {
    transform: translateX(-40px);
    background-color: transparent;
}

@media (max-width: 575px) {
    .hamburger {
        margin-right: 10px;
    }
}
