.hero
    
    &__body 
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 62px
        padding: 20px
        background-color: #fff
        box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.15)

    &__main
        max-width: 290px
    &__logo
        margin-bottom: 20px
    &__title
        
        font-size: 2rem
        // font-style: italic
        // font-weight: 700
        &-accent
            display: block
            margin-top: 5px
            padding-left: 2px
            background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: 2.5rem
            font-weight: 700
            font-style: italic

        
    &__image
        flex-basis: 200px
        height: 300px
        background-image: url(../img/woman.png)
        background-position: center top
        background-size: contain
        background-repeat: no-repeat
    &__about
        
.logo
    &__link
        display: block

    &__image
        display: block
        max-width: 100%




.hero-about
    &__name
        margin-bottom: 20px
        font-weight: 700
        font-size: 2.5rem
        font-style: italic
        background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__details
    &__detail

.hero-detail
    display: flex
    align-items: center
    &:not(:last-child)
        margin-bottom: 10px
    &__icon
        display: flex
        margin-right: 10px
        width: 40px
        height: 40px
    &__text
        font-size: 2rem
        &-roman
            font-family: serif
            // font-weight: 700
            font-size: 2.3rem

@media (min-width: 1200px)
    .logo
        &__image
            transition: 0.5s ease
            border-radius: 20px
            &:hover
                transform: scale(1.02)
                box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.15)

@media (max-width: 991px)
    .hero
        &__body
            
        &__main
            max-width: none
            flex-basis: 30%
        &__image
            flex-basis: 30%
        &__about
            flex-basis: 30%
    .logo

@media (max-width: 767px)
    .hero
        &__body
            flex-wrap: wrap
        &__main
            // border: 1px solid #000
            flex-basis: 40%
        &__about
            display: flex
            flex-direction: column
            align-items: flex-end
            flex-basis: 100%
            margin-top: 20px
            
            // border: 1px solid #000
        &__image
            // border: 1px solid #000
            margin-right: 15%

            flex-basis: 150px
    .logo
        &__image
            max-width: 100%

@media (max-width: 575px)
    .hero
        &__body
        &__main
            flex-basis: 80%
            margin: 0 auto
            margin-bottom: 20px
        &__image
            // margin: 0 auto
            flex-basis: 70%
            margin: 0 auto
        &__about
            align-items: center
            margin-bottom: 20px

@media (max-width: 480px)
    .hero
        &__body
        &__main
            flex-basis: 100%
            text-align: center

        &__title
            font-size: 1.8rem
    .logo
        &__image
            display: inline-block
            max-width: 80%
    .hero-about
        &__name
            text-align: center