.hero
    
    &__body 
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 62px
        padding: 20px
        background-color: #fff
        box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.15)
    &__main
        max-width: 210px
    &__logo
        margin-bottom: 20px
    &__title
        
        font-size: 2rem
        // font-style: italic
        // font-weight: 700
        &-accent
            display: block
            margin-top: 10px
            padding-left: 2px
            background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: 2.5rem
            font-style: italic

    &__image-wrap
    &__image
    &__about
        
.logo
    &__link
        display: block

    &__image
        display: block
        max-width: 100%

.hero-about
    &__name
        margin-bottom: 20px
        font-weight: 700
        font-size: 2.5rem
        font-style: italic
        background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__details
    &__detail

.hero-detail
    display: flex
    align-items: center
    &:not(:last-child)
        margin-bottom: 10px
    &__icon
        display: flex
        margin-right: 10px
        width: 40px
        height: 40px
    &__text
        font-size: 2rem

@media (min-width: 1200px)
    .logo
        &__image
            transition: 0.5s ease
            border-radius: 20px
            &:hover
                transform: scale(1.02)
                box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.15)
