/* RESET */
/*  ------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.accordion-menu {
  max-width: 400px;
  border-radius: 20px;
}

.accordion-menu > li:not(:last-child) {
  margin-bottom: 10px;
}

.accordion-menu li.open .dropdownlink {
  background: -webkit-linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  background: -o-linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  background: linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  color: #fff;
}

.accordion-menu li.open .dropdownlink::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 10px 40px 10px 20px;
  font-style: italic;
  font-size: 2.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font-weight: 700;
}

.dropdownlink span {
  position: relative;
  z-index: 1;
}

.dropdownlink::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 0;
  display: block;
  width: 20px;
  height: 100%;
  background-image: url("../img/arrow-down.svg");
  background-size: 100% 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dropdownlink::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  background: -webkit-linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  background: -o-linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  background: linear-gradient(45deg, #00cc00 33%, #33cc00 66%, #00ff00);
  border-radius: 10px;
  width: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.dropdownlink:hover::before {
  width: 100%;
}

.submenuItems {
  display: none;
  border-radius: 10px;
  overflow: hidden;
  max-height: 150px;
  overflow-y: auto;
}

.submenuItems li:not(:last-child) {
  border-bottom: 1px solid #b6b6b6;
}

.submenuItems li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.8rem;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: #fff;
}

.submenuItems li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 12px;
  background-image: url(../img/dot.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1199px) {
  .accordion-menu {
    max-width: none;
  }
}

@media (max-width: 480px) {
  .dropdownlink span {
    font-size: 1.8rem;
  }
  .submenuItems li {
    font-size: 1.6rem;
  }
}

@media (max-width: 380px) {
  .dropdownlink {
    padding: 10px 30px 10px 10px;
  }
}

@media (min-width: 320px) {
  .submenuItems::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .submenuItems::-webkit-scrollbar-thumb {
    background: #33cc00;
  }
  .submenuItems::-webkit-scrollbar-track {
    background: #c1f3c1;
  }
  .submenuItems {
    scrollbar-face-color: #33cc00;
    scrollbar-track-color: #c1f3c1;
  }
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  /* margin: 0 auto; */
  margin-right: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 3px;
  background-color: #33cc00;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 4px;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 3px;
}

/* HAMBURGER 2 */
.checkbox2:checked + label > .hamburger2 > .bar1 {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

@media (max-width: 575px) {
  .hamburger {
    margin-right: 10px;
  }
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ProximaNova";
  font-size: 1.6rem;
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  body.lock-scroll {
    overflow: hidden;
  }
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ProximaNova";
  font-size: 1.6rem;
  background-image: url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  body.lock-scroll {
    overflow: hidden;
  }
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.header__toggle-sidebar {
  display: none;
}

.header__nav {
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-item:not(:last-child) {
  margin-right: 20px;
}

.header__list-link {
  white-space: nowrap;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: -o-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header__phone {
  margin-right: 20px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__icon-wrap {
  margin-right: 15px;
}

.phone__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  fill: #33CC00;
}

.phone__number {
  font-size: 18px;
  background: -webkit-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: -o-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  fill: #3B5998;
}

.socials__icon-wrap {
  border: 1px solid #3B5998;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.facebook__icon-wrap:hover {
  background-color: #3B5998;
}

.facebook__icon-wrap:hover svg {
  fill: #fff;
}

@media (min-width: 1200px) {
  .header-link {
    position: relative;
  }
  .header-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #33CC00;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header-link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 991px) {
  .header__nav {
    position: absolute;
    z-index: 99;
    top: 62px;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    border-top: 1px solid #c5c5c5;
  }
  .header__nav_active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .header__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__list-item {
    margin-bottom: 10px;
  }
  .header__toggle-sidebar {
    display: block;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .header__list-link {
    font-size: 1.4rem;
  }
}

@media (max-width: 380px) {
  .phone__icon-wrap {
    margin-right: 5px;
  }
  .phone__number {
    font-size: 1.6rem;
  }
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 62px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.15);
}

.hero__main {
  max-width: 290px;
}

.hero__logo {
  margin-bottom: 20px;
}

.hero__title {
  font-size: 2rem;
}

.hero__title-accent {
  display: block;
  margin-top: 5px;
  padding-left: 2px;
  background: -webkit-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: -o-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
}

.hero__image {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  height: 300px;
  background-image: url(../img/woman.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo__link {
  display: block;
}

.logo__image {
  display: block;
  max-width: 100%;
}

.hero-about__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: italic;
  background: -webkit-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: -o-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-detail:not(:last-child) {
  margin-bottom: 10px;
}

.hero-detail__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.hero-detail__text {
  font-size: 2rem;
}

.hero-detail__text-roman {
  font-family: serif;
  font-size: 2.3rem;
}

@media (min-width: 1200px) {
  .logo__image {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border-radius: 20px;
  }
  .logo__image:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1199px) {
  .hero__body {
    padding-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .hero__main {
    max-width: none;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .hero__image {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .hero__about {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 767px) {
  .hero__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__main {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .hero__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
  .hero__image {
    margin-right: 110px;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }
  .logo__image {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .hero__main {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hero__image {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 0 auto;
  }
  .hero__about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hero__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .hero__title {
    font-size: 1.8rem;
  }
  .logo__image {
    display: inline-block;
    max-width: 80%;
  }
  .hero-about__name {
    text-align: center;
  }
}

.directions__body {
  padding: 30px 0;
  min-height: 565px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.directions__body::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url(../img/family-bg.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.directions__title {
  margin-bottom: 20px;
  margin-left: 10px;
  background: -webkit-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: -o-linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  background: linear-gradient(45deg, #00CC00 33%, #33CC00 66%, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.directions__text {
  margin-top: 55px;
}

@media (max-width: 1199px) {
  .directions__body {
    padding: 40px 20px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 470px;
  }
  .directions__body::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center bottom;
  }
  .directions__text {
    margin-top: 0;
    background-color: #ffffffbb;
    border-radius: 20px;
    padding: 20px;
  }
  .directions__title {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .directions__body {
    min-height: 550px;
  }
}

@media (max-width: 480px) {
  .directions__body {
    min-height: 590px;
  }
  .directions__title {
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  .directions__text {
    padding: 10px;
  }
  .directions__title {
    margin-bottom: 15px;
  }
}
