<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="психолог, детский психолог, арт-терапия, психологическое консультирования")
        title Art Psychology
        link(rel="icon" href="img/fav-icon.png")
        link(rel="stylesheet" href="css/main.css")
    body
        //- cd src
        //- pug -w index.pug -o ./ -P
        header.header
            .container
                .header__body

                    input(type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden")
                    label(for="checkbox2" class="header__toggle-sidebar")
                        .hamburger.hamburger2
                            span.bar.bar1
                            span.bar.bar2
                            span.bar.bar3
                            span.bar.bar4

                    nav.header__nav
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.header-link(href="#directions") направления в работе
                            li.header__list-item
                                a.header__list-link.header-link(href="#about-me") обо мне
                            li.header__list-item
                                a.header__list-link.header-link(href="#certificates") сертификаты
                            li.header__list-item
                                a.header__list-link.header-link(href="#arttherapy") об арт-терапии
                                
                    .header__phone.phone
                        .phone__icon-wrap
                            svg.phone__icon
                                use(xlink:href="img/icons.svg#phone")
                        a.phone__number.header-link(href="tel:+380665342550") +38 (066) 534 25 50

                    .socials.header__socials
                        .socials__facebook.facebook
                            a.socials__link(href="https://www.facebook.com/yuliya.amber")
                                .socials__icon-wrap.facebook__icon-wrap
                                    svg.socials__icon
                                        use(xlink:href="img/icons.svg#facebook")

        section.hero
            .container
                .hero__body
                    .hero__main
                        .hero__logo.logo
                            a.logo__link(href="index.html")
                                img.logo__image(src="img/logo.jpg" alt="logo")
                        h1.hero__title 
                            |Территория развития психологических ресурсов личности 
                            |с использованием 
                            span.hero__title-accent АРТ-ТЕРАПИИ
                    .hero__image
                    
                    .hero__about.hero-about
                        h2.hero-about__name Разорёнова Юлия Григорьевна
                        .hero-about__details
                            .hero-about__detail.hero-detail 
                                svg.hero-detail__icon
                                    use(xlink:href="img/icons.svg#psychologist")
                                p.hero-detail__text 
                                    |Практический психолог 
                                    span.hero-detail__text-roman I 
                                    |категории
                            .hero-about__detail.hero-detail 
                                svg.hero-detail__icon
                                    use(xlink:href="img/icons.svg#certificate")
                                p.hero-detail__text Сертифицированный арт-терапевт

        section#directions.directions
            .container
                .directions__body
                    .directions__text
                        h2.directions__title направления в работе
                        ul.directions__list.directions-list.accordion-menu
                            li.directisons-list__item
                                .dropdownlink 
                                    span Детско-родительское и семейное консультирование
                                ul.submenuItems
                                    li конфиденциальность
                                    li поддержка 
                                    li осознание истоков проблемы
                                    li налаживание  контакта ребёнок-взрослый  
                                    li информирование об особенностях детской психологии (в кризисные периоды развития) 
                                    li трансформация негативного жизненного опыта в позитивный ресурс
                            li.directisons-list__item
                                .dropdownlink 
                                    span Психологическая диагностика детско-родительских отношений
                                ul.submenuItems
                                    li определение уровня когнитивного развития: внимание, мышление, память, воображение, восприятие
                                    li диагностирование личностных, социальных, емоционально-волевых состояний
                                    li психодиагностика готовности ребенка к школе

                            li.directisons-list__item
                                .dropdownlink 
                                    span Коррекция психологических особенностей ребенка
                                ul.submenuItems
                                    li агрессивность
                                    li гиперактивность
                                    li застенчивость 
                                    li нарушение самооценки
                                    li капризы, упрямство
                                    li повышенная тревожность, страхи
                                    li сложности в адаптации
                                    li проблемы общения со сверстниками и взрослыми
                                    li соперничество

        section#about-me.about-me    
            .container
                .about-me__body
                    .about-me__image-wrap
                        img.about-me__image(src="img/workplace.jpg" alt="workplace")
                    .about-me__text
                        h2.about-me__title Здравствуйте, я рада, что Вы зашли на мой сайт, надеюсь здесь вам будет уютно и познавательно.
                        .about-me__detail.detail-about
                            .detail-about__icon-wrap
                                svg.detail-about__icon
                                    use(xlink:href="img/icons.svg#children")
                            p.detail-about__text Я работаю с детками от 2-х до 16-ти лет. 
                        
                        .about-me__detail.detail-about
                            .detail-about__icon-wrap
                                svg.detail-about__icon
                                    use(xlink:href="img/icons.svg#ten")
                            p.detail-about__text Мой опыт работы в Арт-терапевтическом подходе с клиентами более 10 лет.

                        p.about-me__description Если ваши отношения с ребенком переживают кризис, вы можете позвонить и прийти ко мне на встречу вместе, и я буду делать все от себя зависящее для того, чтобы вы смогли понять и услышать друг друга лучше, ведь вопрос взаимопонимания между родителями и детьми актуален всегда.

        section#certificates.certificates
            .container
                .certificates__body
                    h2.certificates__title Сертификаты

                    .certificates__slider.certificates-slider
                        
                        a(data-fancybox="certificates" href="img/certificates/certificate-3.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-3.jpg" alt="certificate-3")
                            
                        a(data-fancybox="certificates" href="img/certificates/certificate-4.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-4.jpg" alt="certificate-4")

                        a(data-fancybox="certificates" href="img/certificates/certificate-6.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-6.jpg" alt="certificate-6")

                        a(data-fancybox="certificates" href="img/certificates/certificate-9.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-9.jpg" alt="certificate-9")

                        a(data-fancybox="certificates" href="img/certificates/certificate-2.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-2.jpg" alt="certificate-2")

                        a(data-fancybox="certificates" href="img/certificates/certificate-10.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-10.jpg" alt="certificate-10")
                        
                        a(data-fancybox="certificates" href="img/certificates/certificate-11.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-11.jpg" alt="certificate-11")

                        a(data-fancybox="certificates" href="img/certificates/certificate-12.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-12.jpg" alt="certificate-12")

                        a(data-fancybox="certificates" href="img/certificates/certificate-7.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-7.jpg" alt="certificate-7")

                        a(data-fancybox="certificates" href="img/certificates/certificate-8.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-8.jpg" alt="certificate-8")

                        a(data-fancybox="certificates" href="img/certificates/certificate-1.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-1.jpg" alt="certificate-1")
                        
                        a(data-fancybox="certificates" href="img/certificates/certificate-5.jpg" class="certificates-slider__item")
                            img(src="img/certificates/certificate-5.jpg" alt="certificate-5")

                    .certificates__slider-arrows.slider-arrows
                        .slider-arrows__prev.slider-arrows__arrow
                        .slider-arrows__next.slider-arrows__arrow

        section#arttherapy.arttherapy
            .container
                .arttherapy__body
                    h2.arttherapy__title
                    .arttherapy__image-wrap
                        //- img.arttherapy__image(src="img/arttherapy")
                    
                    .arttherapy__text
                        p Арт-терапия   – это один из методов психологической помощи, увлекательный, эффективный, основанный на творчестве и игре. Именно творчество даёт человеку возможность выразить себя, а значит – понять свои желания и устремления.
                        p Дети сталкиваются с серьезными трудностями: в семье, в детском саду, в школе, в общении. Взрослые не всегда знают, как помочь своему ребенку. Объяснения, убеждения и нравоучения не помогают, а сам малыш не может толком объяснить, что с ним происходит. Например, не хочет идти в детский сад или школу, капризничает по любому поводу, боится оставаться в темноте, переживает кризисные периоды. В этих и многих других случаях и нужна арт-терапия. Она поможет мягко и аккуратно обойти защитные механизмы, понять, что беспокоит ребенка и помочь справится с трудностями.
                        p Дети открыты для изменений. Они с удовольствием входят в роли персонажей сказок, рисуют, лепят из глины, создают «Свой Мир» на песке – в специальной юнгианской песочнице, одним словом – творят. Они верят в то, что они делают, верят в себя. И это очень эффективно. В достижении успеха -вера очень важна. 
                        p Арт-терапия и детская психология – очень эффективное сочетание, такой синтез весьма популярен во всем мире благодаря творческой форме и высокой результативности. 





        #cube-loader
            .caption
                .cube-loader
                    .cube.loader-1
                    .cube.loader-2
                    .cube.loader-4
                    .cube.loader-3
                span Загрузка

        script(src="js/jquery-3.5.1.min.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous")
        script(src="js/SmoothScroll.min.js")
        script(src="js/slick.min.js")
        script(src="js/jquery.fancybox.min.js")
        script(src="js/main.js")
